
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
<hr />
<div>
    @if (ViewData["message"] != null)
    {
        <div class="alert alert-warning text-center">
            @ViewData["message"]
        </div>
    }
    @if (ViewData["error_message"] != null)
    {
        <div class="alert alert-danger text-center">
            @ViewData["error_message"]
        </div>
    }
    <div class="row grid-divider">
        <div class="col-sm-6">
            <div class="col-padding">
                <form class="form-signin" method="post" action="/Accounts/Login">
                    <div class="form-size">
                        <label for="txtUsername" class="sr-only">Username</label>
                        <input type="text" class="form-control" id="txtUsername" name="username" placeholder="Username" required autofocus />
                        <label for="txtPassword" class="sr-only">Password</label>
                        <input class="form-control" type="password" id="txtPassword" name="password" placeholder="Password" required/>
                        <div class="captcha-position">
                            <div class="g-recaptcha" data-sitekey="6LfGBzgUAAAAAO-3YLhS2R2L4kYDhAo9BqLlrxMt" data-callback="enableBtn"></div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" id="login" name="login">Log In</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-padding text-center">
                <h2>Don't have an account?</h2>
                @Html.ActionLink("Register", "Register", "Users", null, htmlAttributes: new { @class = "btn btn-lg btn-primary" })
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#login').prop("disabled", true);
    });

    function enableBtn() {
        $('#login').prop("disabled", false);
    }
</script>