
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>
    <form method="post" action="/Accounts/Login">
        Username: <input type="text" id="txtUsername" name="username" /> <br />
        Password: <input type="text" id="txtPassword" name="password" /> <br />
        <input type="submit" value="Log In" />
    </form>
</div>