
@{
    ViewBag.Title = "Error";
}

<div class="jumbotron jumbotron-error">
    <div class="container">
        <h1>Try again</h1>
        <p>or go back to the <a href="~/Home/">homepage <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></p>
    </div>
</div>

